html {
  scroll-behavior: smooth;
}
body{
    background: #34495e;
    font-size: 12px;
}
a {
    color: #05b6eb !important;
}

a.nav-link {
    color: #0792cd !important;
    font-family:"Montserrat",sans-serif;
    font-size:16px;
}
a.nav-link:hover {
    color: #05b6eb !important;
    margin: auto;
    height: 100%;
}
.nav-brand h1 {
    font-size: 1rem;
    display: inline-block;
    font-family: poppins,sans-serif;
    line-height: unset;
}
h2 {
    font-family: "Lato",sans-serif;
    color: #000000 !important;

}
p {
    font-size: 17px;
    line-height: 28px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 300;
}
p.ver-release-dates {
    font-size: 14px;
    line-height: 20px;
}
#main .container {
    background: #FFFFFF;
    overflow: auto;
}
header.masthead.mb-auto.container {
    background: #FFF;
}

.row.method-table {
    background: #003259;
}
.method-table h4{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.method-table table.method thead {
    background: #003259;
}
.col-md-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-md-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-md-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-md-7 p{
    margin-bottom: 0;
}
.method-table .form-group {
    background-color: #0c4877;
    color: #FFFFFF;
    margin: 0;
}
select#metod-type {
    color: #FFF;
    background-color: #0c4877;
}
.row.method-output {
    border: 1px solid #e0e0e0;
}

.table thead th {
    border: none;
    color: #FFFFFF;
    font-weight: 500;
}
pre{
    text-align: left;
    font-family: Roboto;
    color: #3c4257;
    font-weight: 400;
    font-size: 15px;
    color: #212529;
    line-height: 1.5;
    margin: 0;
}

.form-control {
    border: none;
    background: transparent;
}

.row.blue-back.api-box-form {
    background: #003259;
}
.row.blue-back .form-group label, .row.blue-back .form-control {
    color: #FFFFFF;
}

.row.blue-back input,.row.blue-back select {
    background: #0c4877;
    border: none;
    padding:5px;
}
input#app-name {
    display: block;
}
select#format {
    width: 60%;
    color: #FFF;
    margin-top: 24px;
    float: right;
}
.row.params {
    background: #f7f7f7;
    padding: 5px 0;
}
div#accordionParams {
    width: 100%;
    border: none;
}
.row.output-area {
    border: 1px solid #e0e0e0;
    border-top: none;
}

.section {
    margin-top: 36px;
    -webkit-transition: top 1s ease-out 0.5s;
    -moz-transition: top 1s ease-out 0.5s;
    -o-transition: top 1s ease-out 0.5s;
    transition: top 1s ease-out 0.5s;
}
.section-name {
    height: 32px;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#ddf0fa;
    color: #149BDF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    width: 160px;
    cursor: pointer;
    font-size: 14px;
}

.add-button:hover {
    background-color: #b0ddf4;
}

.plus-icon {
    margin-right: 4px;
}

.section-name-sm {
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.table-row {
    border: 1px solid #f2f2f2;
    border-top: none;
}
.table-header {
    border: 1px solid #f2f2f2;
    color: #7e8386;
    background-color: #f9f9f9;
}
.table-header,
.table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-cell {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
}
.data-name {
    width: 79%;
}
.name {
    width: 21%;
    border-right: 1px solid #f2f2f2;
}
.type {
    width: 18%;
    border-right: 1px solid #f2f2f2;
}
.size {
    width: 6%;
    border-right: 1px solid #f2f2f2;
}
.required {
    width: 10%;
    border-right: 1px solid #f2f2f2;
}
.comments {
    width: 51%;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.small-logo-row {
    height: 100%;
    margin: auto 0;
}

.masthead-brand {
    height: 100%;
}

.nav-brand {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.py-5 {
    padding-bottom: 2rem!important;
}
